@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Good Morning</h1>
    <p> <a href="https://apphelloworld.blob.core.windows.net/goodmorning/good-morning.jpg?sp=r&st=2021-02-22T07:25:06Z&se=2021-02-22T15:25:06Z&sv=2020-02-10&sr=b&sig=D5iORMOui%2BQ3bR6UUhbHICj2p2DgkOpoUsVgmB6ld%2FE%3D">Click here</a>.</p>
</div>
